.container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  flex: 1 1 20%;
  max-width: 35rem;
  max-height: 55rem;
  background-color: #2a8c828c;
  border-radius: 3rem;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.container:hover {
  cursor: pointer;
}

.img {
border-radius: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  margin: 8px 0;
}

.text.expanded {
  -webkit-line-clamp: unset;
}

.read_more {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.read_more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dead {
  color: red;
}

.alive {
  color: green;
}

.unknown {
  color: grey;
}

.card_footer {
display: flex;
justify-content: space-between;
padding: 0 2rem;
}

.svg {
 color: #fff;
}

.svg.active {
  color: red;
}