.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2e7dc9d;
}

.btn {
  margin-top: 2rem;
  font-size: 1.7rem;
  border-color: red;

}